
@{
    ViewData["Title"] = "About";
}

<main>
    <header class="col-md-3"></header>
    <header class="col-md-6 content">
        <h2>About</h2>
        <br />
        <h5>
            Casino is a mock website which is meant to simulate being at a real casino. Still, amatuer virtual
            casinos are frowned upon by todays society so I decided to make this casino a ridiculous as possible
            to the point where half of these games wouldn't even be remotely found in Las Vegas. This is known
            as "Project 2" for Revature's training where two people have to create something that uses: a
            Model-View-Controller, DevOps, Angular, and WebAPI.
        </h5>
        <img src="~/images/igromania-1894847_640.jpg" width=65% id="contentimg" />
        <h5>
            This website is in no way supposed to be taken seriously as a real casino, however it
            is meant to be taken seriously as a website. If you are in any way, shape, or form offended by any
            material I do ask you to please understand. If you have, by some miraculous chance, invested real money
            into this gambling website, I am very curious as to how you were able to do that and I will take notes
            on the matter. For personal reasons, of course.
        </h5>
        <br>
    </header>
    <header class="col-md-3"></header>
</main>

