
@{
    ViewData["Title"] = "Games";
}
@if (ViewBag.Section != null)
{
    <script>
        $(function () {
                window.location.hash = '#@ViewBag.Section';
        });
    </script>
}


<main>
    <aside class="col-md-1"></aside>
    <header class="col-md-12 content">
        <h2>Games</h2>
        <table id="gamestable">
            <tr>
                <td class="col-md-5">
                    <article id="rps">
                        <h2>Rock-Paper-Scissors</h2>
                        <aside>
                            <img src="~/images/rps.png" class="gameimage" id="asiderps" />
                        </aside>
                        <hr>
                        <section>
                            <h3>Description</h3>
                            <p>
                                You pick a gesture: rock, paper, or scissors. The A.I. will also pick a gesture from the same set
                                at the same time as you. Afterwards, the two gestures are compared. Rock beats scissors, paper
                                beats rock (for some reason), and scissors beats paper. You win by having the winning gesture in
                                comparison to the opponent.
                            </p>
                            <p>
                                Tip: Having the same gesture means it's a tie, however ties will only return you 3/4ths of your earnings back.
                            </p>
                        </section>
                        <section>
                            <h3>Winnings</h3>
                            <p>Condition (Win) - You will earn 2 times the number of chips betted prior to playing.</p>
                            <p>Condition (Tie) - You will lose 25% of the number of chips betted prior to playing.</p>
                            <p>Condition (Lose) - You will lose 90% of the number of chips betted prior to playing.</p>
                        </section>
                        <hr>
                        <a asp-area="" asp-controller="Game" asp-action="RockPaperScissors">
                            <h2>Play Now</h2>
                        </a>
                    </article>
                </td>
                <td class="col-md-5" id="blackjack">
                    <article>
                        <h2>Blackjack</h2>
                        <aside>
                            <img src="~/images/blackjack.jpg" class="gameimage" width="400px" />
                        </aside>
                        <hr>
                        <section>
                            <h3>Description</h3>
                            <p>
                                You and the dealer each draw a card. The goal is to get the total card value as close
                                to 21 as possible without going over. If the value is over 21 the game is over and the
                                person whom drew the last card loses. After each turn, you are given the option to stand
                                which means you cannot draw cards anymore. If both you and the dealer stands without going
                                over 21, the person with the greatest total value wins.
                            </p>
                            <p>
                                Tip: You can see the dealer's hand, make strategic moves accordingly.
                            </p>
                        </section>
                        <section>
                            <h3>Winnings</h3>
                            <p>Condition (Win) - You will earn 1.8 times the number of chips betted prior to playing.</p>
                            <p>Condition (Lose) - You will lose 80% of the number of chips betted prior to playing.</p>
                        </section>
                        <hr>
                        <a asp-area="" asp-controller="Game" asp-action="Blackjack">
                            <h2>Play Now</h2>
                        </a>
                    </article>
                </td>
            </tr>
            <tr>
                <td class="col-md-5">
                    <article id="bingo">
                        <h2>Bingo</h2>
                        <aside>
                            <img src="~/images/bingo.jpg" class="gameimage" />
                        </aside>
                        <hr>
                        <section>
                            <h3>Description</h3>
                            <p>
                                The less turns you get, the greater the reward. You are given a randomly generated bingo
                                card. For each turn, a number will be called out. If the number matches a number in the
                                bingo card, it is chipped out. If a 5 chips line up horizontal, vertical, or diagonal,
                                you win. However, if the number of turns is up and you still haven't gotten a bingo,
                                you lose.
                            </p>
                            <p>
                                Tip: Time is money! Go for the more riskier turn limits so you don't waste your time earning
                                chump change.
                            </p>
                        </section>
                        <section>
                            <h3>Winnings</h3>
                            <p>Condition (Win) - You will earn X times the number of chips betted prior to playing.</p>
                            <p>Condition (Lose) - You will lose 95% of the number of chips betted prior to playing.</p>
                        </section>
                        <hr>
                        <a asp-area="" asp-controller="Game" asp-action="Bingo">
                            <h2>Play Now</h2>
                        </a>
                    </article>
                </td>
                <td class="col-md-5">
                    <article id="roulette">
                        <h2>Russian Roulette</h2>
                        <aside>
                            <img src="~/images/russianroulette.jpg" class="gameimage" />
                        </aside>
                        <hr>
                        <section>
                            <h3>Description</h3>
                            <p>
                                Enter the maximum bet you want to go for. First, the game starts with you betting 20% of the
                                maximum bet, then increases for each round where no one loses. If the A.I.'s gun goes off first,
                                you win. However, if your gun goes off first, you lose. You can choose to chicken our during the
                                game, however you will lose 66% of the number of chips you betted during the game.
                            </p>
                            <p>
                                Tip: You will not die from playing this, at least I hope not. Do not try this in real life.
                            </p>
                        </section>
                        <section>
                            <h3>Winnings</h3>
                            <p>Condition (Win) - You will earn 2.75 times the number of chips betted during play.</p>
                            <p>Condition (Out) - You will lose 66% of the number of chips betted during play.</p>
                            <p>Condition (Lose) - You will lose ALL of the number of chips betted during play.</p>
                        </section>
                        <hr>
                        <a asp-area="" asp-controller="Game" asp-action="RussianRoulette">
                            <h2>Play Now</h2>
                        </a>
                    </article>
                </td>
            </tr>
            <tr>
                <td class="col-md-5">
                    <article id="slots">
                        <h2>Slot Machines</h2>
                        <aside>
                            <img src="~/images/slots.jpg" class="gameimage" />
                        </aside>
                        <hr>
                        <section>
                            <h3>Description</h3>
                            <p>
                                Click three buttons and if all three line up, you get more chips. The higher the number,
                                the more chips you get in the end. However, the higher numbers are rarer and you are less
                                likely to hit all three in a row.
                            </p>
                            <p>
                                Tip: Do not try to time this, the next value will be random.
                            </p>
                        </section>
                        <section>
                            <h3>Winnings</h3>
                            <p>Condition (Win) - You will earn X times the number of chips betted prior to playing.</p>
                            <p>Condition (Lose) - You will lose 35% of the number of chips betted prior to playing.</p>
                        </section>
                        <hr>
                        <a asp-area="" asp-controller="Game" asp-action="Slots">
                            <h2>Play Now</h2>
                        </a>
                    </article>
                </td>
                <td class="col-md-5">
                    <article id="fight">
                        <h2>Chicken Fight</h2>
                        <aside>
                            <img src="~/images/chickenfight.jpg" class="gameimage" width="400px" height="200px" />
                        </aside>
                        <hr>
                        <section>
                            <h3>Description</h3>
                            <p>
                                Bet on a chicken. They have hidden stats that can potentially defeat the other chicken
                                with one peck, or became so fast that they cannot be touched. Either way, these chickens
                                have it out for each other. The only information available to you is one stat from each
                                of the chickens. Health is the amount of health they have before they are defeated. Attack
                                is the amount of damage they dish out to the other chicken's health. Evasion is the odds the
                                chicken will avoid the other chicken's attack.
                            </p>
                            <p>
                                Tip: Do not try pitting chickens against each other in real life, that is wrong as well as
                                kind of illegal. I mean c'mon not even Roman gladiators were allowed to outright kill each other.
                            </p>
                        </section>
                        <section>
                            <h3>Winnings</h3>
                            <p>Condition (Win) - You will earn 1.66 times the number of chips betted prior to playing.</p>
                            <p>Condition (Lose) - You will lose 85% of the number of chips betted prior to playing.</p>
                        </section>
                        <hr>
                        <a asp-area="" asp-controller="Game" asp-action="ChickenFight">
                            <h2>Play Now</h2>
                        </a>
                    </article>
                </td>
            </tr>
        </table>
        <br>
        <br>
    </header>
</main>

