@using(@Html.BeginForm())
{
<header class="col-md-12 content">
    <form>
        <label for="username" style="color:white">Username: </label>
        <input name="username" maxlength="50" size="30" style="color:black">
        <br />
        <label for="password" style="color:white">Password: </label>
        <input name="password" maxlength="50" size="30" style="color:black">
        <br />
        <button type="submit" name="submitButton" value="submit">Login</button>
        <button type="submit" name="submitButton" value="register">Register</button>
    </form>
    </header>
    }
